.tools img {
    width: 50px;
    margin: 10px;
    transition: 0.3s;
}

.tools img:hover {
    transform: scale(1.2);
}

.detail {
    display: none;
    background: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.contact i {
    margin-right: 10px;
    color: #4facfe;
}
