@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #4facfe, #f093fb);
}

/* SECTION SYSTEM */
.section {
    display: none;
    min-height: 100vh;
    padding: 40px;
}

.section.active {
    display: block;
}

/* CONTAINER */
.container {
    max-width: 800px;
    margin: auto;
}

.center {
    text-align: center;
    margin-top: 100px;
}

/* BUTTON */
.buttons {
    margin-top: 20px;
}

button, .btn {
    padding: 10px 18px;
    margin: 5px;
    border-radius: 20px;
    border: none;
    background: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

button:hover, .btn:hover {
    background: #ffd369;
}

/* BACK */
.back {
    background: none;
    margin-bottom: 20px;
    cursor: pointer;
}

/* TOOLS */
.tools img {
    width: 45px;
    margin: 5px;
}

/* DETAIL */
.detail {
    display: none;
    background: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
}

/* CONTACT */
.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact a {
    text-decoration: none;
    color: black;
}

.contact i {
    margin-right: 8px;
    color: #4facfe;
}
